
<div class="container" >
   
     
<table class="table table-hover"  >
    <thead>
      <tr>
        <th scope="col">Product</th>
        <th scope="col">Qauntaty</th>
        <th scope="col">Price</th>
        <th scope="col">Product Price</th>

      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of cart">
        <td>  {{item.payload.val().product.title}} </td>
        <td>{{item.payload.val().quantity}}</td>
        <td>{{item.payload.val().product.price|currency:"USD"}}</td>
        <td  >  {{item.payload.val().product.price*item.payload.val().quantity |currency:"USD"}}
          </td>
          <td><button class="btn btn-danger" (click)="delete(item)">Delete</button></td>
      </tr>
      <tr>
        <td></td>
        
        <td></td>
        <td >
            <h4>Total Price: {{totalPrice() |currency:"USD"}}     </h4>

          </td>
          
      </tr>
    </tbody>
  </table>

 
<br>
  <div class="row">
      <div class="col-md-8 order-md-1">
        <h4 class="mb-3">Billing address</h4>
        <form class="needs-validation" novalidate="" [formGroup]="form">
          <div class="row">
            <div class="col-md-6 mb-3">
              <label for="firstName">First name</label>
              <input type="text" class="form-control" id="title" placeholder=""  formControlName="title" >
              <div *ngIf="form.controls.title.touched &&form.controls.title.invalid" class="alert alert-danger">
                  <div *ngIf="form.controls.title.errors?.required">Please Enter First Name</div>
            
              </div>
            </div>
            <div class="col-md-6 mb-3">
              <label for="lastName">Last name</label>
              <input type="text" class="form-control" id="last" placeholder="" value=""   formControlName="last" >
              <div *ngIf="form.controls.last.touched &&form.controls.last.invalid" class="alert alert-danger">
                  <div *ngIf="form.controls.last.errors?.required">Please Enter  last Name</div>
            
              </div>
            </div>
          </div>

          <div class="mb-3">
            <label for="username">Username</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">@</span>
              </div>
              <input type="text" class="form-control" id="username" placeholder="Username"  formControlName="username" >
              
            </div>
            <div *ngIf="form.controls.username.touched &&form.controls.username.invalid" class="alert alert-danger">
                <div *ngIf="form.controls.username.errors?.required">Please Enter  UserName</div>
          
            </div>
          </div>

          <div class="mb-3">
            <label for="email">Email <span class="text-muted">(Optional)</span></label>
            <input type="email" class="form-control" id="email" placeholder="you@example.com"  formControlName="email">
            <div *ngIf="form.controls.email.touched &&form.controls.email.invalid" class="alert alert-danger">
                <div *ngIf="form.controls.email.errors?.required">Please Enter Email</div>
          
            </div>
          </div>

          <div class="mb-3">
            <label for="address">Address</label>
            <input type="text" class="form-control" id="address" placeholder="1234 Main St"  formControlName="address">
            <div *ngIf="form.controls.address.touched &&form.controls.address.invalid" class="alert alert-danger">
                <div *ngIf="form.controls.address.errors?.required">Please Enter Your Address</div>
          
            </div>
          </div>

          <div class="mb-3">
            <label for="address2">Address 2 <span class="text-muted">(Optional)</span></label>
            <input type="text" class="form-control" id="address2" placeholder="Apartment or suite">
          </div>

          <div class="row">
            <div class="col-md-5 mb-3">
              <label for="country">Country</label>
              <select class="custom-select d-block w-100" id="country"  formControlName="Country">
                <option value="">Choose...</option>
                <option>United States</option>
              </select>
              <div *ngIf="form.controls.Country.touched &&form.controls.Country.invalid" class="alert alert-danger">
                  <div *ngIf="form.controls.Country.errors?.required">Please Enter Your Country</div>
            
              </div>
            </div>
            <div class="col-md-4 mb-3">
              <label for="state">State</label>
              <select class="custom-select d-block w-100" id="state"  formControlName="state">
                <option value="">Choose...</option>
                <option>California</option>
              </select>
              <div *ngIf="form.controls.state.touched &&form.controls.state.invalid" class="alert alert-danger">
                  <div *ngIf="form.controls.state.errors?.required">Please Enter Your State</div>
            
              </div>
            </div>
            <div class="col-md-3 mb-3">
              <label for="zip">Zip</label>
              <input type="text" class="form-control" id="zip" placeholder="" formControlName="zip">
              <div *ngIf="form.controls.zip.touched &&form.controls.zip.invalid" class="alert alert-danger">
                  <div *ngIf="form.controls.zip.errors?.required">Please Enter Your Zip</div>
            
              </div>
            </div>
          </div>
          <hr class="mb-4">
          <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="same-address">
            <label class="custom-control-label" for="same-address">Shipping address is the same as my billing address</label>
          </div>
          <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="save-info">
            <label class="custom-control-label" for="save-info">Save this information for next time</label>
          </div>
          <hr class="mb-4">

          <h4 class="mb-3">Payment</h4>

          <div class="d-block my-3">
            <div class="custom-control custom-radio">
              <input id="credit" name="paymentMethod" type="radio" class="custom-control-input" checked="" required="">
              <label class="custom-control-label" for="credit">Credit card</label>
            </div>
            <div class="custom-control custom-radio">
              <input id="debit" name="paymentMethod" type="radio" class="custom-control-input" required="">
              <label class="custom-control-label" for="debit">Debit card</label>
            </div>
            <div class="custom-control custom-radio">
              <input id="paypal" name="paymentMethod" type="radio" class="custom-control-input" required="">
              <label class="custom-control-label" for="paypal">Paypal</label>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 mb-3">
              <label for="cc-name">Name on card</label>
              <input type="text" class="form-control" id="name" placeholder="" formControlName="name">
              <small class="text-muted">Full name as displayed on card</small>
              <div *ngIf="form.controls.name.touched &&form.controls.name.invalid" class="alert alert-danger">
                  <div *ngIf="form.controls.name.errors?.required">Please Enter Name on Card</div>
            
              </div>
            </div>
            <div class="col-md-6 mb-3">
              <label for="cc-number">Credit card number</label>
              <input type="text" class="form-control" id="card" placeholder="" formControlName="card">
              <div *ngIf="form.controls.card.touched &&form.controls.card.invalid" class="alert alert-danger">
                  <div *ngIf="form.controls.card.errors?.required">Please Enter Credit card number</div>
            
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3 mb-3">
              <label for="cc-expiration">Expiration</label>
              <input type="text" class="form-control" id="expiration" placeholder=""   formControlName="expiration">
              <div *ngIf="form.controls.expiration.touched &&form.controls.expiration.invalid" class="alert alert-danger">
                  <div *ngIf="form.controls.expiration.errors?.required">Please Enter Expiration</div>
            
              </div>
            </div>
            <div class="col-md-3 mb-3">
              <label for="cc-expiration">CVV</label>
              <input type="text" class="form-control" id="cvv" placeholder=""   formControlName="cvv">
              <div *ngIf="form.controls.cvv.touched &&form.controls.cvv.invalid" class="alert alert-danger">
                  <div *ngIf="form.controls.cvv.errors?.required">Please Enter CVV</div>
            
              </div>
            </div>
          </div>
          <hr class="mb-4">
          <button class="btn btn-primary btn-lg btn-block "   [disabled]="form.valid" type="submit">Continue to checkout</button>
        </form>
      </div>
    </div>
  </div>