body{
  margin: 1px;
  padding: 1px
}

h4:link {
    color: green;
  }
  
  /* visited link */
  h4:visited {
    color: green;
  }
  
  /* mouse over link */
 h4:hover {
    color: red;
  }
  .card{
    padding: 2px;
    margin: 5px
  }
  
  /* selected link */
  h4:active {
    color: yellow;
  }

  .card-text:active{
color: blue  }


.card-footer{
padding: 0px
}






